<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue基本指令2</title>
</head>

<body>
  <div id="app">
    <input type="text" v-model="user.name">
    <input type="password" v-model="user.pad">
    <button :disabled="user.name==''||user.pwd==''">登录</button>
    <div>{{user}}</div>

    <hr>
    <!-- 
      elementUI 饿了么团体开源vue ui框架
      主要用于电脑端网页
      vant 有赞团队开源vue ui框架
      主要用于手机端网页

      antd 阿里提供的ui，默认为react，vue实现很一般
      iview 第三方知名vue ui框架
      最出名的mvvm前端框架：vue，react
     -->
  </div>

  <script src="js/vue.min.js"></script>
  <script src="js/vue05.js"></script>
</body>

</html>