.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';  /* project id 1555230 */
  src: url('//at.alicdn.com/t/font_1555230_02kp4bd4t353.eot');
  src: url('//at.alicdn.com/t/font_1555230_02kp4bd4t353.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1555230_02kp4bd4t353.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1555230_02kp4bd4t353.woff') format('woff'),
  url('//at.alicdn.com/t/font_1555230_02kp4bd4t353.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1555230_02kp4bd4t353.svg#iconfont') format('svg');
}