body {
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #ac0000;
}

.c {
  text-align: center;
  align-items: center;
}

main {
  height: 630px;
  display: flex;
  justify-content: center;
  margin: 4rem;
}

.main-right {
  border: 1px solid #000000;
  border-radius: 4px;
}

.main-right01 {
  display: flex;
  background-color: #ac0000;
  justify-content: center;
  padding: 0.5rem 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.main-right-login {
  border-top: 1px solid #acacac;
  padding: 2rem;
}

.myinput {
  border: 1px solid #acacac;
  border-radius: 1px;
  padding: 0.5rem;
}

.myinput>input {
  outline: none;
  border-width: 0px;
  width: 200px;
}

.myinput:focus-within {
  border-color: #acacac;
  box-shadow: 0px 0px 4px #ac0000
}

.bottom-margin {
  margin: 0px 0px 8px 0px;
}

.login-button {
  background-color: #ac0000;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  background: #ac0000;
  position: fixed;
  bottom: 0px;
  width: 100%;
}