body {
  background-image: url('https://www.bing.com/th/id/OGC.c5012e8f438b77c18e9bdcfc5fbce55f?pid=1.7&rurl=http%3a%2f%2fwww.diyifanwen.com%2ffiles%2fsucai%2fshoujitupian%2f2008-7%2f13%2f0871302305033962.gif&ehk=Ah3eMtSvVnVghDHVsRiTAG51Z4Djwp3GrlnmEbv95iA%3d');
  height: 1000px;
  color: #ffffff;
}

a {
text-decoration: none;
color: rgb(163, 160, 160);
}

a:hover {
  color: #ffffff;
  font-size: 1rem;
  transition: font-size 0.5s ease-in-out;
}

.c {
  display: flex;
  justify-content: center;
  margin-right: 4rem;
}

header {
  padding-top: 30px;
  font-size: 0.6rem;
}

.f {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>div>div>div:first-child {
margin-left: 2rem;
  font-size: 1.5rem;
}

body span {
  margin: 0.5rem;
}

main {
  padding-top: 5rem;
}

.t {
  font-size: 50px;
}