header {
  position: fixed;
  width: 100%;
  color: rgb(138, 143, 148);
  background-color: rgb(26, 30, 34);
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #020101;
}

header>div {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

header span:hover {
  cursor: pointer;
  color: #ffffff;
}

header span {
  margin-right: 1rem;
}

header>div>div:first-child span:first-child {
  font-size: 1.2em;
}
/* 
  background-image: url('1.jpg');
  background-size: cover;
  text-align: center;
  padding: 17rem;
} 
*/
.t{
  background-image: url('1.jpg');
  background-size: cover;
  text-align: center;
  padding: 17rem;
}