/* work/iconfont.css */

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';  /* project id 1555230 */
  src: url('//at.alicdn.com/t/font_1555230_7nhhieksop9.eot');
  src: url('//at.alicdn.com/t/font_1555230_7nhhieksop9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1555230_7nhhieksop9.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1555230_7nhhieksop9.woff') format('woff'),
  url('//at.alicdn.com/t/font_1555230_7nhhieksop9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1555230_7nhhieksop9.svg#iconfont') format('svg');
}